

// Color Variables

$light-grey: rgb(245, 245, 245);

// Font colors
$font-color: #808284;

// Colors
// codex-keyboard-shortcuts
// https://www.schemecolor.com/codex-keyboard-shortcuts.php
$black: #010101;
$white: white;
$red: #d2232a;


// Nav Bar
$nav-bar-height: 3.5rem;

// Side Nav
$side-width: 250px;

$radius: 5px;


