// sources:
// https://fonts.google.com/?selection.family=Jura&category=Serif,Sans+Serif,Display,Monospace&query=jur

@font-face {
    font-family: "Jura";
    src: url("./fonts/Jura-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("./fonts/Jura-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("./fonts/Jura-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Jura";
    src: url("./fonts/Jura-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("./fonts/Jura-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
