@import '../style/_variables.scss';


nav-bar {

  nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background: $white;
    box-shadow: 2px 0 10px 2px rgba(0,0,0,.2);
    height: $nav-bar-height;
    left: 0;
    z-index: 100;
    top: 0;

    .logo-nav {
      width: $side-width;
      justify-content: left;
      padding: 0 .5rem;
    }

    a {
      display: flex;
      align-items: center;
      font-weight: 600;
      justify-content: left;
      img {
        // max-width: calc(#{$side-width} - .5rem);
        max-height: calc(#{$nav-bar-height}*.8);
        // margin-left: .5rem;
      }
    }


    .nav-items {
      display: grid;
      align-items: center;
      grid-auto-flow: column;

      .nav-search {
        display: flex;
        button, input{
          background: $white;
          border: none;
          padding: 0 1rem;
          height: calc(#{$nav-bar-height} - 10px);
          border: 1px solid rgba(0,0,0,.1);
        }
        input {
          font-weight: 600;
          border-right: none;
          color: $black;
          border-radius: $radius 0 0 $radius;
        }
        button {
          border-radius: 0 $radius $radius 0;
          color: $red;
          width: 45px;
          outline: none;
          border-left: none;
          svg {
            fill: white;
            height: 40%;
          }
          &:hover {
            cursor: pointer;
            svg {
              fill-opacity: .8;
            }
          }
        }

      }


      .nav-item {
        display: flex;
        justify-content: flex-start;
        padding: 0 .3rem;

        a {
          border-radius: $radius;
          color: $black;
          padding: .5rem .3rem;
          height: calc(#{$nav-bar-height} - 10px);
          font-size: 90%;
          user-select: none;
          width: 100%;

          &:hover {
            opacity: .8;
          }

          img {
            height: calc(#{$nav-bar-height} - 10px);
            width: auto;
            border-radius: $radius;
          }

          span {
            display: flex;
            justify-content: flex-end;
            width: 1rem;
            font-weight: 700;
            color: $red;
          }
        }

        .selected-item {
          color: $black;
        }

        .nav-subitems {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          top: $nav-bar-height;
          position: absolute;
          background: white;
          border: 1px solid rgba(200, 200, 200, 1);
          box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
          border-radius: $radius;
          margin-top: 3px;

          a {
            color: $black;
            background: transparent;
            white-space:nowrap;
            padding: .5rem 1rem .5rem 1rem;
            font-size: 80%;

            &:hover {
              background: rgba(240, 240, 240, 1);
            }

          }
        }

        .subitems-active {
          display: flex;
        }

      }

      .profile-item {
        justify-content: flex-end;
      }

    }

  }

}
