@import '../style/variables';

pg-admin {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'side content';
  grid-template-columns: $side-width auto;

  side-bar {
    grid-area: side;
  }

  .pg-admin-content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
