@import '../style/variables';

pg-cowork {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'side content';
  grid-template-columns: $side-width auto;

  side-bar {
    grid-area: side;
  }

  .pg-cowork-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding-top: #{$nav-bar-height*2};
    align-items: center;
    justify-content: top;
  }

  .pg-cowork-layout {
    display: grid;
    column-gap: 2rem;
    grid-template-areas: 'ws ws ws ws';

    .sec {
      transform: rotate(90deg);
    }
    .third {
      transform: rotate(-90deg);
    }
    .fourth{
      transform: rotate(180deg);
    }
    co-workstation {
      svg {
        width: 100%;
        &:hover {
          border: 2px solid greenyellow;
          cursor: pointer;
          opacity: .8;
          path {
            fill: greenyellow;
            stroke: red;
          }
          line {
            fill: red;
          }
        }
      }
    }
  }
}
