@import '../style/variables';

side-bar {
  z-index: 20;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  top: $nav-bar-height;
  left: 0;
  height: calc(100vh - #{$nav-bar-height});
  width: $side-width;
  background: $white;
  box-shadow: 2px 0 10px 2px rgba(0,0,0,.15);
  padding: 1rem 1rem;

  .side-bar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid $red;
    margin: 0 0 2rem 0;
    padding: 1rem 0;
    width: 100%;
    img {
      max-width: 90%;
      max-height: 30px;
    }
    h2 {
      margin: 0;
    }
  }


  nav {
    display: flex;
    flex-direction: column;
    width: 100%;


    .side-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      a {
        display: flex;
        justify-content: space-between;
        padding: 0;
        border: none;
        color: $black;
        font-weight: 800;
        margin-left: 0;
        padding: 0.2rem 1rem;
        font-size: 90%;
        letter-spacing: 0;
        border-radius: $radius;
        &:hover {
          background: rgba(36, 158, 160, .2);
        }
      }

      .side-subitems {
        display: none;
        flex-direction: column;
        border-left: 1px solid $red;
        margin-left: 1rem;
        a {
          display: flex;
          justify-content: space-between;
          color: rgba(50, 50, 50, 1);
          font-weight: 600;
          margin-left: 1rem;
          font-size: 85%;
          // line-height: 1.3rem;
          border-radius: 0 $radius $radius 0;
          margin: .2rem 0 ;
        }
      }

      .side-subitems-active {
        display: flex;
      }

      .side-symbol {
        color: $red;
      }
    }
  }
}
