@import "./style/normalize.css";
@import "./style/_variables.scss";
@import "./style/jura.scss";


* {
  box-sizing: border-box;
}

video {
  box-sizing: content-box;
}


body {
  font: {
    family: "Jura", Fallback, sans-serif;
    weigth: 500;
    style: normal;
  }
  color: $font-color;
  line-height: 200%;
  letter-spacing: 1px;
}

main {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;


  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

input {
  &:focus {
    outline: none;
  }
}

[is="app"] {

  main {
    height: 100vh;
    width: 100%;

    #hero {
      display: flex;
      align-items: center;;
      flex-direction: column;
      width: 100%;
    }
  }
}
